{
  "plugins": [
    "jest"
  ],
  "extends": [
    "airbnb",
    "plugin:jest/recommended"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "no-console": 0
  },
  "overrides": {
    "files": [ "api/**.test.js", "lib/**.test.js" ],
    "rules": {
      "global-require": 0
    }
  },
  "env": {
    "jest/globals": true
  }
}
